<div>
  <div class="fondoTitulo position-relative overflow-hidden p-3 p-md-4 m-md-3 text-center bg-light">
    <div class="col-md-6 p-lg-3 mx-auto my-3">
      <h1 class="display-4 font-weight-normal">{{ colegio?.nombre }}</h1>
      <p class="lead font-weight-normal">Este es el listado de profesores vinculados al colegio.</p>
    </div>
  </div>

  <h2 class="top" id="page-heading" data-cy="ProfesorHeading">
    <span>Listado de Profesores </span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="profesors?.length === 0">
    <span>No existen profesores creados</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="profesors && profesors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 10%"><span>ID</span></th>
          <th scope="col" style="width: 70%"><span>Profesor</span></th>
          <th scope="col" class="text-center" style="width: 20%"><span>Asignaturas</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profesor of profesors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="[profesor.nombre, profesor.id, 'view']">{{ profesor.id }}</a>
          </td>
          <td>
            <span>{{ profesor.nombre }}</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="[profesor.nombre, profesor.id, 'view']"
                class="btn btn-outline-info"
                data-cy="entityDetailsButton"
              >
                <svg
                  id="i-portfolio"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  width="24"
                  height="24"
                  fill="none"
                  stroke="currentcolor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                >
                  <path
                    d="M29 17 L29 28 3 28 3 17 M2 8 L30 8 30 16 C30 16 24 20 16 20 8 20 2 16 2 16 L2 8 Z M16 22 L16 18 M20 8 C20 8 20 4 16 4 12 4 12 8 12 8"
                  />
                </svg>
                <span class="d-none d-md-inline">Ver Asignaturas</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
