<div>
  <div class="fondoTitulo position-relative overflow-hidden p-3 p-md-4 m-md-3 text-center bg-light">
    <div class="col-md-6 p-lg-3 mx-auto my-3">
      <h1 class="display-6 font-weight-normal">Profesor: {{ nombreProfesor }}</h1>
      <p class="lead font-weight-normal">Este es el listado de asignaturas que posee el profesor.</p>
    </div>
  </div>

  <h3 id="page-heading" class="top" data-cy="AsignaturaHeading">
    <span>Listado de Asignaturas:</span>
  </h3>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="asignaturas?.length === 0">
    <span>No se encuentran asignaturas disponibles</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="asignaturas && asignaturas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center" style="width: 10%"><span>ID</span></th>
          <th scope="col" style="width: 50%"><span>Nombre</span></th>
          <th scope="col" class="text-center" style="width: 10%"><span>Curso</span></th>
          <th scope="col" class="text-center" style="width: 30%">Estudiantes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asignatura of asignaturas; trackBy: trackId" data-cy="entityTable">
          <td class="text-center">
            <a [routerLink]="['/asignatura', asignatura.nombre, asignatura.id, 'view']">{{ asignatura.id }}</a>
          </td>
          <td>{{ asignatura.nombre }}</td>
          <td class="text-center">
            <div *ngIf="asignatura.id_curso">
              <span>{{ asignatura.id_curso?.grado }} </span>
              <span>{{ asignatura.id_curso?.salon }} </span>
            </div>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/asignatura', asignatura.nombre, asignatura.id, 'view']"
                class="btn btn-outline-info"
                data-cy="entityDetailsButton"
              >
                <svg
                  id="i-user"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  width="24"
                  height="24"
                  fill="none"
                  stroke="currentcolor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                >
                  <path
                    d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z"
                  />
                </svg>
                <span class="d-none d-md-inline">Ver Estudiantes</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
