<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9 justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h1 data-cy="loginTitle">Autenticación</h1>
      <div class="alert alert-danger" *ngIf="authenticationError" data-cy="loginError">
        <strong>Failed to sign in!</strong> Verifique sus datos.
      </div>
      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="form-group">
          <label class="username-label" for="username">Nombre de usuario:</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="Ingrese el usuario"
            formControlName="username"
            #username
            data-cy="username"
          />
        </div>

        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Contraseña"
            formControlName="password"
            data-cy="password"
          />
        </div>

        <button type="submit" class="btn btn-primary" data-cy="submit">Iniciar sesión</button>
        <div class="alert alert-warning" id="no-result">
          <span>Para usar la aplicación utilizar los siguientes datos:</span>
          <span>Usuario: user</span>
          <span>Clave: user</span>
        </div>
      </form>
    </div>
  </div>
</div>
